<h1 class="h1">Département Génie Electrique et Informatique Industrielle (G.E.I.I)</h1>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <h2>Le département Génie Electrique et Informatique Industrielle (G.E.I.I)</h2>
        <p>Les secteurs traditionnels d’activité (industries électriques et électroniques, appareillages et instrumentation, production et transport d’énergie, télécommunications, technologies de l’information et de la communication) se sont élargis en raison des multiples applications de l’électricité et de l’informatique.</p>
        <p>Étant donnée la généralisation de l’électronique et de l’informatique industrielle dans bon nombre d’activités, les compétences du diplômé GEII s’exercent dans des secteurs aussi divers que : les industries de transformation et manufacturières, la production et la gestion de l’énergie, l’industrie électronique, les transports et l’automobile, l’aérospatial et la défense, la construction et le bâtiment, la santé, l’agroalimentaire et les agro-industries.</p>
        <p>Dans une grande entreprise, dans une petite entreprise ou dans un laboratoire de recherche. Il exerce ses fonctions de technicien dans les domaines des études et du développement, de l’industrialisation et de la production, de l’automatisation, de l’intégration de systèmes, de la maintenance, de l’assurance qualité et des services, voire du commerce.</p>
        <p>Les métiers d’électronicien, électrotechnicien, automaticien ou technicien de maintenance couvrent une large palette d’emplois spécifiques : méthodiste–industrialisateur, chargé d’études, chargé d’affaires, chargé d’essais, responsable d’équipes de fabrication, coordonnateur maintenance, développeur, concepteur-chargé de gammes, automaticien régulation, spécialiste process, informaticien industriel, etc.</p>
    </div>
    <div class="video col-xs-6 col-md-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/k3zak6buok0?si=eofEM04S1hTUkrU1"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>